In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [14]:
data = pd.read_excel("./Data/Ranked_data/BusEq_CFPranked_weekly_data.xlsx")

In [15]:
data.head()

,Date,return_t,return_t+,CFP,Low_CF_t,High_CF_t,quintile,decile
0,1982-09-03,0.059194,-0.013111,2.009264e-05,0,1,4,7
1,1984-10-19,0.030527,-0.022304,1.462127e-03,0,1,5,10
2,1984-12-21,0.036510,0.005964,1.170571e-05,1,0,3,6
3,1985-01-04,-0.021378,0.034214,5.703057e-07,1,0,2,2
4,1985-01-11,0.034214,0.032522,2.544784e-05,1,0,4,7

In [13]:
mean_values = []
std_values = []
sample_num = []
for i in np.arange(2, 6):
    ind = data["quintile"] == i
    mean_values.append(np.mean(data["return_t"][ind]))  
    std_values.append(np.std(data["return_t"][ind]))
    sample_num.append(np.sum(ind))
    
t_stat = (mean_values[-1] - mean_values[0]) / np.sqrt(((std_values[-1] ** 2) / sample_num[-1]) + ((std_values[0] ** 2) / sample_num[0]) )    
print("mean_values are: [%s]" % ', '.join(map(str, mean_values)))
t_stat

mean_values are: [0.00482830569831996, -3.3643555964417275e-05, 0.0034182457213573288, 0.0024004068121869517]

-1.0181308038696444

In [6]:
mean_values = []
std_values = []
sample_num = []
for i in np.arange(2, 6):
    ind = data["quintile"] == i
    mean_values.append(np.mean(data["return_t+"][ind]))
    std_values.append(np.std(data["return_t+"][ind]))
    sample_num.append(np.sum(ind))
    
t_stat = (mean_values[-1] - mean_values[0]) / np.sqrt(((std_values[-1] ** 2) / sample_num[-1]) + ((std_values[0] ** 2) / sample_num[0]) )    
print("mean_values are: [%s]" % ', '.join(map(str, mean_values)))
t_stat

mean_values are: [0.009200157434385299, 0.013028709855926104, 0.01973335614050366, 0.001153048465654702]

-0.8215136204255277

In [7]:
mean_values = []
std_values = []
sample_num = []
for i in np.arange(2, 11):
    ind = data["decile"] == i
    mean_values.append(np.mean(data["return_t"][ind]))
    std_values.append(np.std(data["return_t"][ind]))
    sample_num.append(np.sum(ind))

t_stat = (mean_values[-1] - mean_values[0]) / np.sqrt(((std_values[-1] ** 2) / sample_num[-1]) + ((std_values[0] ** 2) / sample_num[0]) )    
print("mean_values are: [%s]" % ', '.join(map(str, mean_values)))
t_stat

mean_values are: [0.024769974553050574, 0.0023089868257141536, -0.002338079572989191, 0.011649043020893902, 0.022174043402737, 0.014158705413049432, 0.011741295116337662, 0.0020698166336196528, 0.00949228530860326]

-1.1420422574079199

In [8]:
mean_values = []
std_values = []
sample_num = []
for i in np.arange(2, 11):
    ind = data["decile"] == i
    mean_values.append(np.mean(data["return_t+"][ind]))
    std_values.append(np.std(data["return_t+"][ind]))
    sample_num.append(np.sum(ind))

t_stat = (mean_values[-1] - mean_values[0]) / np.sqrt(((std_values[-1] ** 2) / sample_num[-1]) + ((std_values[0] ** 2) / sample_num[0]) )    
print("mean_values are: [%s]" % ', '.join(map(str, mean_values)))
t_stat

mean_values are: [0.010119421676607664, 0.009703002660413393, 0.016954856978992523, 0.008201820404691144, 0.0067578964671774055, 0.030330279852362817, 0.014552130044839224, 0.002835195465720519, -0.0018256482777874504]

-0.9351739346578825

In [9]:
mean_values = []
std_values = []
sample_num = []
for i in range(2):
    ind = data["High_CF_t"] == i
    mean_values.append(np.mean(data["return_t"][ind]))
    std_values.append(np.std(data["return_t"][ind]))
    sample_num.append(np.sum(ind))

t_stat = (mean_values[-1] - mean_values[0]) / np.sqrt(((std_values[-1] ** 2) / sample_num[-1]) + ((std_values[0] ** 2) / sample_num[0]) )    
print("mean_values are: [%s]" % ', '.join(map(str, mean_values)))
t_stat

mean_values are: [0.010373000460485527, 0.011369064138102222]

0.14892878550149682

In [10]:
mean_values = []
std_values = []
sample_num = []
for i in range(2):
    ind = data["High_CF_t"] == i
    mean_values.append(np.mean(data["return_t+"][ind]))
    std_values.append(np.std(data["return_t+"][ind]))
    sample_num.append(np.sum(ind))

t_stat = (mean_values[-1] - mean_values[0]) / np.sqrt(((std_values[-1] ** 2) / sample_num[-1]) + ((std_values[0] ** 2) / sample_num[0]) )    
print("mean_values are: [%s]" % ', '.join(map(str, mean_values)))
t_stat

mean_values are: [0.011052253339929286, 0.010228672983410047]

-0.1251638410796503